@use "@/styles/variables" as *;

.panel {
  position: fixed;
  top: 100px;
  right: 32px;
  background: rgba(255, 255, 255, 0.96);
  border: 1px solid #aeaeae;
  border-radius: 16px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  pointer-events: auto;
  color: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: repeat(3, 48px);
  gap: 8px;
  align-items: center;
  justify-items: center;
}

/* ボタン */
.btn {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid black;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: transform 0.06s ease, box-shadow 0.12s ease, background 0.2s ease;
  color: #111;
  font-weight: 600;

  &:hover {
    background-color: $hover-color;
  }

  &.active {
    background-color: $primary-color;
    color: white;
    cursor: default;
  }
}

.btnWide {
  grid-column: 1 / 4;
  width: 100%;
  height: 44px;
}
