@use "@/styles/variables" as *;
.search_box {
  width: 400px;
  @media (max-width: 767px) {
    display: none;
  }
}

.search_box_sp {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: small;
  font-weight: bold;
  transition: background-color 0.2s ease;
  border-radius: 10px;
  @media (min-width: 768px) {
    display: none;
  }

  &:active {
    background-color: darken($hover-color, 20%);
  }
}
