@use "@/styles/variables" as *;

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 2rem 1rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .listItem {
    width: 100%;
  }
}
