@use "@/styles/variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hover-color;
  }
}

.button_disable {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
  color: $hover-color;
}
