@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
}
