@use "@/styles/variables" as *;

.button {
  background-color: #ffffff;
  border: none;
  height: 32px;
  margin-right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $hover-color;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
