@import "destyle.css";
@import "tailwindcss";

@theme {
  /* Colors - Text */
  --color-text-default: #1f1f1f;
  --color-text-subtle: #474747;
  --color-text-danger: #b1324f;
  --color-text-success: #467c36;
  --color-text-primary-action: #ffffff;
  --color-text-primary: #324fb1;

  /* Colors - Background */
  --color-background-default: #ffffff;
  --color-background-subtle: #f4f4f4;
  --color-background-subtler: #e0e0e0;
  --color-background-danger: #efd6dc;
  --color-background-success: #c0edb2;
  --color-background-primary-action-enabled: #3e63dd;
  --color-background-primary-action-hover: #324fb1;
  --color-background-primary-action-pressed: #253b85;
  --color-background-primary-action-disabled: #757575;
  --color-background-secondary-action-enabled: #ffffff;
  --color-background-secondary-action-hover: #eceffc;
  --color-background-secondary-action-pressed: #d8e0f8;
  --color-background-secondary-action-disabled: #9e9e9e;

  /* Colors - Border */
  --color-border-default: #757575;
  --color-border-bold: #474747;
  --color-border-success: #467c36;
  --color-border-danger: #b1324f;

  /* Font Sizes - Title */
  --font-size-title-lg: 48px;
  --font-size-title-lg--line-height: 1.5;
  --font-size-title-lg--letter-spacing: 0.01em;
  --font-size-title-md: 40px;
  --font-size-title-md--line-height: 1.5;
  --font-size-title-md--letter-spacing: 0.02em;

  /* Font Sizes - Heading */
  --font-size-heading-xl: 32px;
  --font-size-heading-xl--line-height: 1.53;
  --font-size-heading-xl--letter-spacing: 0.02em;
  --font-size-heading-lg: 28px;
  --font-size-heading-lg--line-height: 1.57;
  --font-size-heading-lg--letter-spacing: 0.02em;
  --font-size-heading-md: 24px;
  --font-size-heading-md--line-height: 1.67;
  --font-size-heading-md--letter-spacing: 0.03em;
  --font-size-heading-sm: 20px;
  --font-size-heading-sm--line-height: 1.6;
  --font-size-heading-sm--letter-spacing: 0.03em;
  --font-size-heading-xs: 16px;
  --font-size-heading-xs--line-height: 1.75;
  --font-size-heading-xs--letter-spacing: 0.03em;

  /* Font Sizes - Body */
  --font-size-body-lg: 20px;
  --font-size-body-lg--line-height: 1.6;
  --font-size-body-lg--letter-spacing: 0.03em;
  --font-size-body-md: 16px;
  --font-size-body-md--line-height: 1.75;
  --font-size-body-md--letter-spacing: 0.03em;
  --font-size-body-sm: 14px;
  --font-size-body-sm--line-height: 1.71;
  --font-size-body-sm--letter-spacing: 0.03em;
  --font-size-body-xs: 12px;
  --font-size-body-xs--line-height: 1.67;
  --font-size-body-xs--letter-spacing: 0.04em;

  /* Font Sizes - Label */
  --font-size-label-md: 16px;
  --font-size-label-md--line-height: 1;
  --font-size-label-md--letter-spacing: 0.03em;
  --font-size-label-sm: 14px;
  --font-size-label-sm--line-height: 1;
  --font-size-label-sm--letter-spacing: 0.03em;
  --font-size-label-xs: 12px;
  --font-size-label-xs--line-height: 1;
  --font-size-label-xs--letter-spacing: 0.04em;

  /* Spacing */
  --spacing-none: 0px;
  --spacing-xxxs: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;

  /* Border Radius */
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-infinity: 999px;

  /* Border Width */
  --border-width-none: 0px;
  --border-width-sm: 0.5px;
  --border-width-md: 1px;
  --border-width-lg: 2px;

  /* Box Shadow */
  --shadow-elevation-2: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  --shadow-elevation-4: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  --shadow-elevation-8: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  --shadow-elevation-12: 0px 16px 30px 0px rgba(0, 0, 0, 0.15);

  /* Font Family */
  --font-family-default: "BIZ UDPGothic", sans-serif;

  /* Font Weight */
  --font-weight-normal: 400;
}

@layer base {
  body {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.03em;
    color: var(--color-text-default);
  }
}
