:root {
  --none: 0rem;
  --xs: 0.125rem;
  --sm: 0.25rem;
  --md: 0.5rem;
  --lg: 0.75rem;
  --xl: 1rem;
  --infinity: 62.4375rem;

  --border-radius-none: 0rem;
  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-infinity: 62.4375rem;

  --border-width-none: 0rem;
  --border-width-sm: 0.0313rem;
  --border-width-md: 0.0625rem;
  --border-width-lg: 0.125rem;

  --opacity-30: 1.875rem;
  --opacity-50: 3.125rem;
  --opacity-100: 6.25rem;

  --spacing-none: 0rem;
  --spacing-xxxs: 0.125rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
}
