@use "@/styles/variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: solid 1px #000;

  &:hover {
    background-color: $hover-color;
  }
}
