.menu_link {
  position: fixed;
  bottom: 50px;
  right: 80px;
  background-color: #1109ad;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.3s;

  &:hover {
    background-color: #7f7eaf;
  }

  &.active {
    background-color: #ffe4e1; // アクティブ時の背景色
    transform: scale(1.1);
  }
  @media (max-width: 767px) {
    display: none;
  }
}
