@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;

  .title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
