@use "@/styles/variables" as *;

.rangeBar {
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  z-index: 1000;
  width: 200px;
}

.button {
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  background-color: aqua;
  z-index: 1000;
}
