@use "@/styles/variables" as *;

.button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hover-color;
  }
}
