@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    gap: 1rem;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 9999px;
      border: solid 1px #000;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
