@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: start;
  width: 100%;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .buttons {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 1rem;
  }
}
